<button
  (click)="!onlyHighRates && getOnlyHighRatesAnimes()"
  (click)="onlyHighRates && getAnimes()"
  [ngClass]="
    'border-black border-2 rounded-lg hover:text-blue-700 hover:border-blue-700 p-2 ml-12 uppercase font-bold'
  "
>
  <p *ngIf="!onlyHighRates">Display only high rates</p>
  <p *ngIf="onlyHighRates">Display all animes</p>
</button>
<div [ngClass]="'grid grid-cols-3 gap-4 m-12'">
  <div *ngFor="let anime of animes">
    <a href="{{ anime.url }}" target="_blank">
      <app-single-anime
        [anime]="anime"
        [ngClass]="
          'cursor-pointer flex flex-col items-center h-full justify-center shadow-lg gap-4 rounded-lg p-12 border-[rgba(0 0 0 0.5)] border-2'
        "
      ></app-single-anime>
    </a>
  </div>
</div>
